main{
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    padding: 2vh;
    .add-contact-area{
        width: 35%;
        .add-form{
            display: flex;
            flex-flow: column wrap;
            input{
                width: 100%;
            }
        }
    }
    .contacts-list-area{
        height: 100vh;
        width: 55%;
        table{
            width: 100%;
        }
    }
}

