@charset "UTF-8";
/* Declaración de colores */
body {
  width: 95%;
  margin: 0 auto;
}

body .line {
  height: 2px;
  background-color: #DFDFDF;
  width: 60%;
  margin: 0 auto;
  margin-top: 4vh;
}

body header {
  border-radius: 5px;
  background: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(15%, white), color-stop(40%, rgba(60, 150, 211, 0.793155)), color-stop(70%, rgba(231, 105, 93, 0.790354)), to(rgba(251, 176, 4, 0.641894)));
  background: linear-gradient(90deg, white 15%, rgba(60, 150, 211, 0.793155) 40%, rgba(231, 105, 93, 0.790354) 70%, rgba(251, 176, 4, 0.641894) 100%);
}

body header .logo {
  margin: 2vh 0 3vh;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3vw;
  font-size: .9rem;
}

body header .logo img {
  height: 10vh;
}

body .summarize {
  color: #495865;
}

body .summarize p {
  margin: 0;
  padding: 2vh;
  text-align: justify;
}

body .summarize p span {
  color: #E7695D;
  font-style: italic;
}

body main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  /* Inputs area */
  /* Table area */
}

body main .add-contact-area {
  width: 100%;
  margin: 5vh 0 0;
}

body main .add-contact-area .input-continent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 20vh;
}

body main .add-contact-area .input-continent .input {
  border: none;
  border-bottom: 1px solid #3c96d3;
  outline: none;
  color: #2D3F4E;
  font-weight: bold;
}

body main .add-contact-area .input-continent .input::-webkit-input-placeholder {
  text-align: center;
}

body main .add-contact-area .input-continent .input:-ms-input-placeholder {
  text-align: center;
}

body main .add-contact-area .input-continent .input::-ms-input-placeholder {
  text-align: center;
}

body main .add-contact-area .input-continent .input::placeholder {
  text-align: center;
}

body main .add-contact-area .input-continent .input:focus {
  background-color: #DFDFDF;
  color: #E7695D;
  font-size: 1.5em;
  font-weight: bold;
}

body main .add-contact-area .input-continent #input-id {
  display: none;
}

body main .add-contact-area .button-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 10vh;
  padding: 1.5vh;
  margin-top: 2vh;
}

body main .add-contact-area .button-area .button {
  height: 40px;
  width: 40vw;
  max-width: 230px;
  font-weight: bold;
  color: #495865;
  background-color: #FFD43B;
  border: 2px solid #495865;
  -webkit-box-shadow: 3px 7px #2D3F4E;
          box-shadow: 3px 7px #2D3F4E;
  border-radius: 5px;
}

body main .add-contact-area .button-area .button:hover {
  background-color: #FBB004;
}

body main .add-contact-area .button-area .button:active {
  background-color: #E7695D;
  -webkit-box-shadow: 0 2px #2F3E4C;
          box-shadow: 0 2px #2F3E4C;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}

body main .contacts-list-area {
  margin-top: 5vh;
  overflow-y: scroll;
  overflow-x: scroll;
}

body main .contacts-list-area table {
  width: auto;
  table-layout: fixed;
  text-align: left;
  margin-bottom: 3vh;
}

body main .contacts-list-area table th {
  padding-left: 25px;
}

body main .contacts-list-area table th:first-child {
  padding-left: 0;
}

body main .contacts-list-area table tbody td {
  width: 20vw;
  padding-left: 25px;
  border-right: 25px;
}

body main .contacts-list-area table tbody td:first-child {
  width: 5vw;
  padding-left: 0;
}

body main .contacts-list-area table tbody td:last-child {
  width: 10vw;
}

body main .contacts-list-area table tbody tr:nth-child(odd) {
  background-color: rgba(60, 150, 211, 0.4);
}

body main .contacts-list-area table .template-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .contacts-list-area table .template-buttons-container .fas {
  color: #E7695D;
  background-color: transparent;
  border: none;
  margin-left: 2px;
}

/****************************************************/
/* Media Queries */
@media (orientation: landscape) {
  /* Inputs area */
  .add-contact-area {
    width: 90%;
  }
  .add-contact-area .input-continent {
    padding: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40vh;
  }
  .add-contact-area .input-continent .input {
    width: 47%;
    margin-bottom: 2vh;
  }
  .add-contact-area .button-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 10vh;
    padding: 1.5vh;
    margin-top: 2vh;
  }
  .add-contact-area .button-area .button {
    height: 40px;
    width: 40vw;
    max-width: 230px;
    font-weight: bold;
    color: #495865;
    background-color: #FFD43B;
    border: 2px solid #495865;
    -webkit-box-shadow: 3px 7px #2D3F4E;
            box-shadow: 3px 7px #2D3F4E;
    border-radius: 5px;
  }
  .add-contact-area .button-area .button:hover {
    background-color: #FBB004;
  }
  .add-contact-area .button-area .button:active {
    background-color: #E7695D;
    -webkit-box-shadow: 0 2px #2F3E4C;
            box-shadow: 0 2px #2F3E4C;
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  .add-contact-area .contacts-list-area {
    width: 100vw;
    background-color: violet;
    margin: 0 auto;
  }
}

@media (min-width: 762px) {
  /* Inputs area */
  .add-contact-area {
    width: 90%;
  }
  .add-contact-area .input-continent {
    padding: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40vh;
  }
  .add-contact-area .input-continent .input {
    width: 47%;
    margin-bottom: 2vh;
  }
  .add-contact-area .button-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 10vh;
    padding: 1.5vh;
    margin-top: 2vh;
  }
  .add-contact-area .button-area .button {
    height: 40px;
    width: 40vw;
    max-width: 230px;
    font-weight: bold;
    color: #495865;
    background-color: #FFD43B;
    border: 2px solid #495865;
    -webkit-box-shadow: 3px 7px #2D3F4E;
            box-shadow: 3px 7px #2D3F4E;
    border-radius: 5px;
  }
  .add-contact-area .button-area .button:hover {
    background-color: #FBB004;
  }
  .add-contact-area .button-area .button:active {
    background-color: #E7695D;
    -webkit-box-shadow: 0 2px #2F3E4C;
            box-shadow: 0 2px #2F3E4C;
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  .add-contact-area .contacts-list-area {
    width: 100vw;
    background-color: violet;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=styles.css.map */